.number {
    &-value {
        @include transition(color);
    }

    &-unit {
        color: $color-font-secondary;
    }

    &.increasing {
        color: $color-positive;
    }

    &.decreasing {
        color: $color-negative;
    }
}
