@import "parameter.scss";
@import "mixin/";
@import "element/";
@import "component/";

body {
    margin: 0;
    padding: 1em;
    font: $font-size $font-family;
    background-color: $color-background;
    color: $color-font;
}
