$color-background: #222;
$color-surface: #333;
$color-font: #eee;
$color-font-secondary: #999;
$color-primary: #36f;
$color-primary-hover: #24c;
$color-positive: #0f0;
$color-negative: #f00;

$border-radius: 8px;
$transition-duration: 0.4s;
$font-family: Verdana, Arial, sans-serif;
$font-size: 20px;
