button {
    @include shadow();
    @include rounded();
    @include transition(background-color);

    color: $color-font;
    cursor: pointer;
    border: none;
    font-size: 1em;
    margin: 0.4em;
    padding: 0.4em 0.6em;
    background-color: $color-primary;

    &:hover {
        background-color: $color-primary-hover;
    }
}
